body {
  background-color: cream;
}

div {
  padding: 15px;
  margin: 15px;
  background: lightblue;
}

img {
  width: 100%;
}

h1 {
  color: red;
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: red;
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: red;
  text-align: center;
  font-family: "Cal Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  color: black
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.img_right {
  width: 50%;
  float: right; /* this is like when you change the alignment in word processing software.
  if you "float" to the right, then the div aligns the element to the right of the page instead of the left.*/
}

.img_left {
  width: 50%;
  float: left;
}

.text_right {
  width: 40%;
  float: right;
}

.text_left {
  width: 40%;
  float: left;
}
